*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #3f3f3f;
}
.logo{
    font-size: 20px;
    font-weight: 600;
    color: #afafaf;
}
.search-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-area{
    width: 50%;
}
.search-box{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464646;
}
.search-box #search-input{
    width: 100%;
    padding: 5px 10px;
    background-color: inherit;
    border: none;
    outline: none;
    color: #afafaf;
    font-size: 15px;
}
#search-icon{
    margin-top: 5px;
    padding-left: 10px;
    font-size: 18px;
    color: #afafaf;
}
#search-btn{
    margin-inline: 10px;
    padding: 5px 30px;
    background-color: #464646;
    color: #afafaf;
    border: 1px solid black;
    cursor: pointer;
}
.other-icons span{
    margin-left: 10px;
}
.other-icons span img{
    width: 25px;
}
.books-cards{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    row-gap: 20px;
}
.hp-book-card{
    width: 190px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-self: center;
}
.sh-book-card{
    width: 190px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-self: center;
}
.hp-book-card img{
    width: 100%;
}
.sh-book-card img{
    width: 100%;
}